*{
    box-sizing: border-box;
}
body{
    margin: 0;
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(90deg, #7d5fff, #7158e2);
}

.search {
    height: 49px;
    position: relative;
}

.search .input {
    background-color: #fff;
    border: 0;
    font-size: 18px;
    padding: 15px;
    height: 50px;
    width: 50px;
    transition: width 1.1s ease;
    color:  #7158e2;
    border-radius: 25px;
}
.btn{
    background-color: #fff;
    border: 0;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    transition: transform 1.1s ease;
    color: #7d5fff;
    border-radius: 25px;
}

.btn:focus, 
.input:focus{
    outline: none;
}
.search.active .input{
    width: 220px;
    border-radius: 25px;
}

.search.active .btn{
    transform: translateX(175px);
    border-radius:  25px;
}