*{
    margin:0;
    box-sizing:border-box;
    padding:0;
  }
  body{
    overflow:hidden;
  }
  .container{
      transform-origin: top left;
      transition: transform 1s linear;
      width: 100%;
      min-height:100vh ;
      padding: 50px;
  }
  .container.show-nav{
      transform: translateX(100%);
  }
  .circle-container{
      position: fixed;
      top: -100px;
      left: -120px;
      transition: transform ease-in-out .6s;
  }
  
  .cirlce{
      background-color: #1D1E22;
      height: 200px;
      width: 200px;
      border-radius:50% ;
      position: relative;
      transition: transform 0.5s linear;
  }
  .container.show-nav .cirlce{
      transform: rotate(-90deg);
  }
  .container.show-nav .circle-container{
      transform: translate(-80px);
  }
  .cirlce button {
      position: absolute;
      top: 45%;
      left: 55%;
      height: 100px;
      background-color: transparent;
      border: 0;
      font-size: 26px;
      color: #fff;
      cursor: pointer;
  }
  .cirlce button:focus{
      outline: none;
  }
  
  .cirlce button#open{
      left:65%;
  }
  .cirlce button#close{
      top: 65%;
      left:58%;
      transform: rotate(90deg);
      transform-origin: top left;
  }
  
  
  nav{
      position: fixed;
      left: -100%; 
      top: 0;
      z-index: 100;
      background:#1D1E22;
      height:100%;
      width:100%;
  }
  
  nav ul{
      list-style:none ;
      padding-left:15px ;
      color:#fff;
      top:20%;
      left: 40%;
      position:relative;
      display:flex;
      flex-direction: column;
      justify-content: center;
      font-size:1.4rem;
  }
  nav ul li {
      text-transform: uppercase;
      color: #fff;
      margin: 40px 0;
      padding:20px;
      cursor: pointer;
  }
  nav ul li i{
    margin-right:10px;
  }
  
  .main-content{
    max-width:600px;
    margin:  auto;
  }
  .main-content p, .main-content h3 {
    margin-top:1rem;
  }